
footer {
    background: var(--secondary-background-color);
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    margin-top: auto;
}


.link-text{
    color: whitesmoke;
}

.links {
    display: flex;
    flex-direction: column;
}

.social-media-icons {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 0.25em;
}

