

.home-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.home-list-li{
    background: url("D:/VT/wd/CS5244/AtharvaBookstoreReact/client/src/assets/images/site/vintage-crumpled-paper-textured-background.jpg") no-repeat;
    background-size: cover;
    text-align: center;
    cursor: pointer;
}

.home-list-div {
    padding: 0.5em 0;
    background: rgba(0, 0, 0, 0.5); /* last # is percent opacity */
    color: white;
    transform: translateY(-2.25em);
    margin-bottom: -2em;
}

